In [6]:
#creating a function with arguments
def greet(name):
    print(f"hello,{name} how are doing")

In [3]:
greet("anamika")

hello,anamika

In [7]:
greet("anu")

hello,anu how are doing

In [8]:
#addition
def add(a,b):
    return a+b

In [9]:
add(5,10)

15

In [10]:
#substations
def sub(a,d):
    return a-d

In [11]:
sub(25,8)

17

In [16]:
#multiplication
def mul(s,f):
    return s*f

In [18]:
mul(28,45)

1260

In [19]:
#division
def div(a,b):
    return a/b

In [20]:
div(2,5)

0.4

In [21]:
def mod(a,s):
    return a%s

In [22]:
#modulus
mod(3000,5)

0

In [27]:
#nested function
def calcultor():
    def add(a,b):
        return a+b
    def sub(a,b):
        return a-b
    def mul(a,b):
        return a*b
    def div(a,b):
        return a/b
    def mod(a,b):
        return a%b

    operation={'1':add,'2':sub,'3':mul,'4':div,'5':mod}
    print("select the operations(1-5)")
    choice=input("enter your choice")
    num1=int(input("enter a first number"))
    num2=int(input("enter a second number"))
    operation=operation. get(choice)
    if operation:
        result=operation(num1,num2)
        print(f"the result is{result}")
    else:
        print("invalid input")

In [28]:
calcultor()

select the operations(1-5)

enter your choice 3
enter a first number 3
enter a second number 3

the result is9

In [6]:
#global
x=10
def scope():
    y=5      #local
    print(y)

In [9]:
scope()

5

In [ ]:
#question

1 write a function is_even(n) that rutern if the number is enen or return odd if the number is odd

In [11]:
def is_even(n):
    if n %2==0:
        return "even"
    else:
        return "odd"

In [12]:
is_even(34)

'even'

In [14]:
#write a function is_prime(n) that return true if the number is prime else fules
def is_prime(n):
    if n<=1:
        return False
    for i in range(2,int(n**0.5)+1):
        if n%i==0:
            return False
        return True

In [ ]:
count=0
i=1
while i<=10:
    count+=i
    i+=1
print(count)

In [34]:
#write a python programe to display the first ten prime numbers
def is_prime(n):
    if n<=1:
        return False
    for i in range(2,int(n**0.5)+1):
        if n%i==0:
            return False
    return True

count=0
n=2
while n<=10:
    if is_prime(n):
        print(n)
        count += 1
    n += 1

2
3
5
7

In [35]:
add=lambda a,b:a+b

In [37]:
add(5,4)

9

In [44]:
square=lambda x:x*x

In [45]:
square(3)

9

In [41]:
n=[1,2,3,4,5,6,7,8,9,10]

In [42]:
n

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [46]:
square=[x**2 for x in range(1,6)]

In [47]:
square

[1, 4, 9, 16, 25]